.newPost {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 50px;
}

.formTitle, .formAuthor, .formBody, .formTags{
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
    margin-bottom: 20px;
}

.formTags {
    display: flex;
    flex-direction: row;
}
.tags, .newTags {
    flex: 1 1 auto; /* flex: 1 1 0 */
}

.formSubmit {
    margin-left: auto;
}